{% extends "base.html" %}
{% block content %}
<div id="vis"></div>
<script>
    let values = []
    let cycle = 1
    let genome_size = 5
    let record_stats = (stats) => {
      let exp_he = stats.ExpHe
      for (let i=0; i<genome_size; i++) {
          values.push({cycle, ExpHe: exp_he.unlinked[i], marker: 'M' + i})
      }
      cycle++
    }
    support.simulate(record_stats, 100, genome_size)

    let spec = `
{
  "description": "ExpHe over cycles",
  "data": {
    "values": [
    ]
  },
  "mark": "line",
  "encoding": {
    "x": {"field": "cycle", "type": "quantitative"},
    "y": {"field": "ExpHe", "type": "quantitative"},
    "color": {"field": "marker", "type": "nominal"}
  }
}`
    let jspec = JSON.parse(spec)
    jspec.data.values = values
    let embedSpec = {
      mode: "vega-lite",
      spec: jspec
    }
    vg.embed("#vis", embedSpec, function(error, result) {

    })
</script>
{% endblock %}