{% extends "base.html" %}
{% block content %}
<script>
    let values = []
    let cycle = 1
    let genome_size = 5
    let record_stats = (stats) => {
      let exp_he = stats.ExpHe
      for (let i=0; i<genome_size; i++) {
          values.push({cycle, ExpHe: exp_he.unlinked[i], marker: 'M' + i})
      }
      cycle++
    }
    support.simulate(record_stats, 100, genome_size)

    let spec = `
{
  "description": "ExpHe over cycles",
  "data": {
    "values": [
    ]
  },
  "mark": "line",
  "encoding": {
    "x": {"field": "cycle", "type": "quantitative"},
    "y": {"field": "ExpHe", "type": "quantitative"},
    "color": {"field": "marker", "type": "nominal"}
  }
}`
    let jspec = JSON.parse(spec)
    jspec.data.values = values
    let embedSpec = {
      mode: "vega-lite",
      spec: jspec
    }
    vg.embed("#vis-simple", embedSpec, function(error, result) {

    })
</script>
<script>
    $(function() {
        $(".dial").knob();
    });
</script>
<h2>Introduction</h2>
<div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">A simple example</h4>
      bla-blah
      <div class="row">
        <div class="col">
          <input type="text" class="dial" data-min="30" data-max="200" value="50">
        </div>
        <div class="col">
          <div id="vis-simple"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}